asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.7
Django
django-crispy-forms==1.14.0
docutils==0.20.1
filelock==3.12.2
idna==3.4
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
platformdirs==3.10.0
Pygments==2.16.1
pypiwin32==223
pywin32==306
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.2
gunicon
pip==23.2.1